<h1 class="text-center">Listing All Categories</h1>
<div align="center">
	<%= will_paginate %>
	<% @categories.each do |category| %>
		<div class="row">
			<div class="well col-md-4 col-md-offset-4 ">
				<%= link_to "#{category.name}", category_path(category), class: "article-title" %><br/>
					<ul class="text-center list-unstyled">
						<li><small><%= pluralize(category.articles.count, "article") %></small></li>
			</div>
		</div>
	<% end %>
	<%= will_paginate %>
</div>